<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" xmlns:layout=""
	layout:decorate="~{layouts/user-layout}">
<head>
<title>Hồ sơ</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="container pt-5 pb-5">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active">Hồ sơ</li>
				</ol>
			</nav>

			<div class="row">
				<div class="col-md-3">
					<div class="list-group">
						<a class="list-group-item list-group-item-action"
							th:classappend="${profileNav}? 'active'" th:href="@{/profile}">Thông
							tin người dùng</a>
						<a class="list-group-item list-group-item-action">Đổi mật khẩu</a>
						<a class="list-group-item list-group-item-action">Lịch sử đơn
							hàng</a>
					</div>
				</div>

				<div class="col-md-9">
					<form th:action="@{/profile/change-information}" th:method="PUT"
						th:object="${profile}">
						<table class="table table-sm table-bordered">
							<tr>
								<td>Họ và tên</td>
								<td>
									<input class="form-control form-control-sm" th:name="fullname"
										th:value="*{!#strings.isEmpty(fullname)} ? *{fullname} : ${user.fullname}">
								</td>
							</tr>
							<tr>
								<td>Tên tài khoản</td>
								<td th:text="${user.username}"></td>
							</tr>
							<tr>
								<td>Email</td>
								<td th:text="${user.email}"></td>
							</tr>
							<tr>
								<td>Địa chỉ</td>
								<td>
									<textarea rows="3" class="form-control form-control-sm"
										th:name="address"
										th:value="*{!#strings.isEmpty(address)} ? *{address} : ${user.address}"
										th:text="*{!#strings.isEmpty(address)} ? *{address} : ${user.address}"></textarea>
								</td>
							</tr>
							<tr>
								<td>Ngày sinh</td>
								<td>
									<input type="date" th:name="birthdate"
										th:value="*{#dates.format(birthdate, 'MM/dd/yyyy')}"
										class="form-control form-control-sm">
								</td>
							</tr>
							<tr>
								<td>Giới tính</td>
								<td>
									<select th:name="gender"
										class="form-control form-control-sm" style="width: 100px">
										<option th:value="true">Nam</option>
										<option th:value="false">Nữ</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>Ngày tạo tài khoản</td>
								<td
									th:text="${#dates.format(user.createdTime, 'dd/MM/yyyy - hh:mm:ss aa')}"></td>
							</tr>
							<tr>
								<td>Thời gian cập nhật gần nhất</td>
								<td
									th:text="${#dates.format(user.updatedTime, 'dd/MM/yyyy - hh:mm:ss aa')}"></td>
							</tr>
						</table>
						<button class="btn btn-primary">Cập nhật</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<th:block layout:fragment="script">
	</th:block>
</body>
</html>